{% extends "main.html" %} {% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  .login-container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  .login-container h1 {
    margin-bottom: 20px;
  }
  .form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  .btn-submit {
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .btn-submit:hover {
    background-color: #555;
  }
</style>

<div class="login-container">
  <h1>Login</h1>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit" class="btn-submit">Login</button>
  </form>
</div>
{% endblock %}
