{% extends "main.html" %} {% block content %}
<style>
  /* Specific styles for the login page */
  .login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
  }

  /* Container for the login form */
  .login-container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
  }

  .login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }

  /* Align labels to the left */
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .btn-submit {
    padding: 12px;
    width: 100%;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .btn-submit:hover {
    background-color: #555;
  }

  .create-account-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
  }

  .create-account-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

  .create-account-link a:hover {
    text-decoration: underline;
  }

  /* Style for error messages */
  .error-message {
    color: #ff4d4f;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
    text-align: left;
  }
</style>

<div class="login-page">
  <div class="login-container">
    <h1>Login</h1>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="username">Username:</label>
        {{ form.username }} {% if form.username.errors %}
        <p class="error-message">{{ form.username.errors.0 }}</p>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        {{ form.password }} {% if form.password.errors %}
        <p class="error-message">{{ form.password.errors.0 }}</p>
        {% endif %}
      </div>
      <button type="submit" class="btn-submit">Login</button>
    </form>
    <div class="create-account-link">
      <p>Create a New Account <a href="{% url 'signup' %}">Sign Up here!</a></p>
    </div>
  </div>
</div>

{% endblock %}
