{% extends "main.html" %} {% block content %}
<div class="container mt-5">
  <h1>Our Watches</h1>
  <div class="row">
    {% for watch in watches %}
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm">
        <img
          src="{{ watch.image.url }}"
          class="card-img-top"
          alt="{{ watch.brand }}"
          style="height: 300px; width: 100%; object-fit: contain"
          onclick="location.href='{% url 'watchdetail' watch.id %}'"
        />
        <div class="card-body">
          <h5 class="card-title">{{ watch.brand }}</h5>
          <p class="card-text">{{ watch.description }}</p>
          <p class="card-text">Rs: {{ watch.price }}</p>
          <p class="card-text">Only {{ watch.stock }} available</p>
          <p class="card-text">Grab {{ watch.discount }} % discount</p>

          <!-- Buttons Container -->
          <div class="d-flex justify-content-between">
            <form method="POST" action="{% url 'add_to_wishlist' watch.id %}">
              {% csrf_token %} {% if watch.id in user_wishlist_items %}
              <button class="btn btn-danger">Remove from Wishlist</button>
              {% else %}
              <button class="btn btn-outline-danger">Add to Wishlist</button>
              {% endif %}
            </form>
            <form method="POST" action="{% url 'add_to_cart' watch.id %}" class="cart-form">
              {% csrf_token %} {% if watch.id in user_cart_items %}
              <a href="{% url 'cartlist' %}" class="btn btn-success">Go to Cart</a>
              {% else %}
              <button type="submit" class="btn btn-outline-success">Add to Cart</button>
              {% endif %}
            </form>
          </div>

          <a href="{% url 'watchdetail' watch.id %}" class="btn btn-primary mt-3">View Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
