{% extends "main.html" %} {% block content %}
<div class="container mt-5">
  <h1>Your Wishlist</h1>
  <div class="row">
    {% if wishlist_items %} {% for item in wishlist_items %}
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow-sm">
        <img src="{{ item.watch.image.url }}" class="card-img-top" alt="{{ item.watch.brand }}" style="height: 300px; width: 100%; object-fit: contain" />
        <div class="card-body">
          <h5 class="card-title">{{ item.watch.brand }}</h5>
          <p class="card-text">{{ item.watch.description }}</p>
          <p class="card-text">Rs: {{ item.watch.price }}</p>
          <div class="d-flex justify-content-between">
            <form method="POST" action="{% url 'add_to_wishlist' item.watch.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger"><i class="fas fa-heart"></i> Remove from Wishlist</button>
            </form>
            <form method="POST" action="{% url 'add_to_cart' item.watch.id %}" class="cart-form">
              {% csrf_token %}
              <button type="submit" class="btn {% if item.watch.id in user_cart_items %} btn-success {% else %} btn-outline-success {% endif %}">
                <i class="fas fa-shopping-cart"></i>
                {% if item.watch.id in user_cart_items %} Remove from Cart {% else %} Add to Cart {% endif %}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <p>Your wishlist is empty.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
